h1 {
    text-align: center;
    font-style: italic;
    border-width: 5px;
    border-color: gainsboro;
    border-style:ridge;
}

img {
    display: block;
    width: 25%;   
    height: 20%; 
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: lightgoldenrodyellow;
    font-size: larger;
}

.return {
    text-align: center;
}